* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 14px;
  font-family: "Manrope";
  color: #0b132a;
}
.container {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #0b132a;
  transition: 0.5s;
}
li {
  list-style: none;
}
.text {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

/* *********************************************************** */
/* header */

header > .container {
  padding: 30px 0;
}
.logo {
  width: 150px;
}
.header-nav > ul > li {
  margin: 0 20px;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
}
.header-nav > ul > li:hover {
  text-decoration: underline;
}
#sign-up,
#sign-in {
  font-family: "Manrope";
  cursor: pointer;
  padding: 13px 45px;
  border: 2px solid #f53855;
  border-radius: 50px;
  color: #f53855;
  font-weight: 700;
  background-color: #fff;
  transition: 0.5s;
}
#sign-in {
  padding: 13px 30px;
  color: #000;
  border: none;
}
#sign-up:hover {
  border: 2px solid #f53855;
  color: #fff;
  background-color: #f53855;
}

/* ******************************************************** */
/* get started */

.getStarted {
  background-color: #fff;
  background-image: url(../images/Illustration\ 1.svg);
  background-repeat: no-repeat;
  background-position: 80% 50px;
  background-size: 40%;
}
.getStarted > .container {
  padding: 50px 0;
}
.getStarted > .container > * {
  width: 50%;
}
.getStarted > .container > h1 {
  font-weight: 500;
  font-size: 46px;
  line-height: 65px;
  margin-bottom: 20px;
}
.getStarted > .container > p {
  margin-bottom: 50px;
}
.button-square {
  cursor: pointer;
  background: #f53838;
  border-radius: 10px;
  padding: 17.5px 77.5px;
  border: 3px solid #f53838;
  font-size: 16px;
  width: 250px !important;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0px 20px 25px -15px rgba(245, 56, 56, 0.75);
  transition: 0.5s;
}
.button-square:hover {
  box-shadow: none;
  background-color: #fff;
  color: #f53838;
}

/* ************************************************************** */
/* get started items */

.getStartedItems > .container {
  padding: 72px 91px;
}
.item > img {
  margin-right: 36.5px;
}
.item-text > p:first-of-type {
  font-size: 25px;
  line-height: 30px;
}
.item-text > p:last-of-type {
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

/* ************************************************************** */
/* features */

.features {
  background-color: #fff;
  background-image: url(../images/Illustration\ 2.svg);
  background-repeat: no-repeat;
  background-position: 15% 0;
  background-size: 40%;
}
.features .container {
  padding: 150px 0;
}
.features > .container > div {
  width: 40%;
  margin-left: 60%;
}
.features > .container > div > .section-title,
.features > .container > div > .text {
  text-align: left;
  margin-bottom: 12.5px;
}
.features-list > li {
  padding-left: 32px;
  line-height: 30px;
  background-image: url(../images/Group\ 1120.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  margin: 7.5px 0;
}

/* ********************************************************** */
/* choose your plan */

.choosePlan .container {
  padding: 100px 0;
}
.choosePlan .container p {
  text-align: center;
}
.choosePlan .container .text {
  margin-bottom: 60px;
}
.plan {
  background-image: url(../images/Free.svg);
  background-repeat: no-repeat;
  background-position: center 70px;

  flex-direction: column;
  height: 760px;
  width: 30%;
  padding: 275px 30px 50px 30px;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
}
.plan:hover {
  border: 2px solid #f53855;
}
.item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.description > ul > li {
  padding-left: 40px;
  line-height: 30px;
  background-image: url(../images/Group\ 1223.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  margin: 5px 0;
}
.price {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}
.red-button {
  font-family: "Manrope";
  cursor: pointer;
  padding: 13px 63px;
  border: 1px solid #f53855;
  border-radius: 50px;
  color: #f53855;
  font-weight: 700;
  background-color: #fff;
  transition: 0.5s;
}
.red-button:hover {
  border: 1px solid #f53855;
  color: #fff;
  background-color: #f53855;
  box-shadow: 0px 20px 25px -15px rgba(245, 56, 56, 0.75);
}

/* ******************************** */
/* global network */

.globalNetwork .container .text {
  margin-bottom: 100px;
  text-align: center;
}
.sponsored img {
  width: 17%;
}

/* ********************************************************************** */
/* customers */

.customers {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.customers .container {
  padding: 50px 0;
}
.customers .container .text {
  text-align: center;
  margin-bottom: 60px;
}
.customers-slide {
  width: 400px !important;
  height: 230px !important;
  background-color: #fff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px;
}
.swiper-slide-active {
  border: 2px solid #f53838;
}
.customer-head {
  margin-bottom: 20px;
}
.customer-head > div > img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.customer-about p:first-of-type {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
  font-weight: 700;
}
.customer-about p:last-of-type {
  color: #4f5665;
  font-size: 14px;
  line-height: 14px;
}
.rate {
  font-size: 16px;
  padding-right: 26px;
  background-image: url(../images/Group\ 1161.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right center;
}

.customers-swiper {
  padding-bottom: 100px;
}
.swiper-bottom {
  margin-top: 50px;
}
.swiper-pagination {
  transition: 0.5s;
  position: static;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dde0e4;
  opacity: 1;
  margin-right: 15px;
}
.swiper-pagination-bullet-active {
  width: 45px;
  border-radius: 7.5px;
  background-color: #f53838;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-navigation > div {
  margin: 0 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#prevSwiper {
  background-image: url(../images/left.svg);
}
#nextSwiper {
  background-image: url(../images/right.png);
}

/* ************************************************** */
/* subscribe */

.subscribe {
  position: relative;
}
.subscribe .container {
  padding: 58.5px 70px;
  background-color: #fff;
  border-radius: 10px;

  position: absolute;
  top: -100px;
  left: 15%;
  box-shadow: 0px 40px 150px -50px rgba(0, 0, 0, 0.3);
}
.subscribe-text {
  width: 60%;
}
.subscribe-text .section-title {
  text-align: left;
}
.subscribe .container button {
  padding: 17.5px 60px;
}

/* ************************************************************ */
/* footer */

footer {
  padding-top: 250px;
  padding-bottom: 100px;
}
footer .container {
  align-items: flex-start;
}
.footer-info {
  width: 35%;
}
.footer-social {
  margin: 30px 0;
  justify-content: flex-start;
}
.social {
  background-color: #f53838;
  border-radius: 50%;
  width: 33.6px;
  height: 33.6px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 37px 37px;
  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.1);
}
.footer-info > p:last-of-type {
  font-size: 16px;
  line-height: 18px;
  color: #afb5c0;
}
.footer-links {
  width: 55%;
  align-items: flex-start;
}
.footer-links__column {
  display: flex;
  flex-direction: column;
}
.footer-links__column a {
  font-size: 16px;
  line-height: 25px;
  color: #4f5665;
  margin-top: 10px;
}
.footer-links__column p {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #0B132A;
  margin-bottom: 20px;
}